@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}
